*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    // Global definition for 1 REMS
    font-size: 62.5%; // (100 / 62.5) * 10 = 16px;
}

body {
    box-sizing: border-box;
}